# PostgreSQL connection URL
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/YOUR_DB_NAME

# Frontend URL
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET_KEY=replace_with_secure_random_secret
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
SIGNUP_TOKEN_EXPIRE_MINUTES=15

# OTP
OTP_EXPIRATION_MINUTES=5
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5

# Email Config
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password
EMAIL_FROM=noreply@aureonmusic.com

# Google Oauth 
GOOGLE_CLIENT_ID=replace_with_your_client_id
GOOGLE_CLIENT_SECRET=replace_with_your_client_secret
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/google/callback
SESSION_SECRET_KEY=replace_with_secure_random_secret