# PostgreSQL connection URL
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/YOUR_DB_NAME

# Frontend URL
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET_KEY=your_super_secret_key_here
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=MINS
REFRESH_TOKEN_EXPIRE_DAYS=DAYS